{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": "off",
    "max-len": ["error", {"code": 500}],
    "object-curly-newline": ["error", {"ObjectPattern": {"multiline": true, "minProperties": 10}}],
    "react/jsx-one-expression-per-line": "off"
  },
  "plugins": ["import", "promise", "compat", "react"],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.eslint.js"
      }
    }
  }
}
